<!-- src/app/pages/welcome/welcome.page.html -->
<ion-content class="welcome-content" fullscreen>
  <div class="center-wrapper">

    <img src="/assets/logo.png" alt="logo" class="logo" />
    <h1 class="welcome-title">Welcome</h1>
    <p class="welcome-sub">Enjoy your smart way to success</p>

    <div class="buttons">
      <ion-button expand="block" fill="clear" class="btn-outline" (click)="goToRegister()">
        SIGN UP
      </ion-button>

      <ion-button expand="block" class="btn-solid" (click)="goToLogin()">
        LOGIN
      </ion-button>
    </div>
  </div>
</ion-content>
